<div class="text-center">
<h1>Créé une nouvelle activité</h1>
</div>
<%= simple_form_for @activity do |f| %>
<div class="container shadow bg-white rounded my-5 p-4">
<div class="row">
<div class="col-8">
<%= f.input :name %>
</div>
</div>
<%= f.input :content %>
<div class="text-right">
<%= f.button :submit, class: "btn btn-primary" %>
</div>
</div>

<% end %>
